.p8_menu_button{
	opacity:0.3;
	padding:4px;
	display:table;
	width:24px;
	height:24px;
	float:right;
}

@media screen and (min-width:512px) {
	.p8_menu_button{
		width:24px; margin-left:12px; margin-bottom:8px;
	}
}
.p8_menu_button:hover{
	opacity:1.0;
	cursor:pointer;
}

canvas{
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: optimize-contrast;
    image-rendering: pixelated;
    -ms-interpolation-mode: nearest-neighbor;
	border: 0px;
	cursor: none;
}


.p8_start_button{
	cursor:pointer;
	background:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAIAAAACACAIAAABMXPacAAABlElEQVR4Ae3dsWnDQBSAYUncBtogC6XRIC4OcyDQgUFNKg+iJgtlA20QQpq0kkExPIV8P9cdPIw+7rlta8mN4kpN09ze7j5ESNP10vkKsQEAAEAAACiotHXRD+OxiesyG7IzxAuwggTgRNWS2y45IaeW7AVYQQAUWNq66Ifx2MR1mQ3ZGeIFWEECcKJqyW2XnJBTS/YCrCAACixtXfTDeGziusyG7AzxAqwgAThRteS2S07IqSV7AVYQAAWWti76YTw2cV1mQ3aGeAFWkACcqFpy2yUn5NSSvQArCIACS1sX/TAem7gusyE7Q7wAK0gATlQtue2SE3JqyV6AFQRAAAAIAAABACAAAAQAgAAAEAAAAgBAAAAIAAABACAAAAQAgAAAEAAAAgBAAAAIAAABACAAAAQAgAAAEAAAAgBAAAAIAAABACAAAAQAgAAAEAAAAHwCAAAUVzrtL5u+Xp478NZ9APgvTa+fP+rvD76wFeQ/wH+Ant7DzfMHAM75n2kFARAAAAIAQAAA6Nelpmmm68WHiOobWot53KcvZ8oAAAAQdEVYdExvZGVQTkcAMjAxMTAyMjHjWbbBAAAAAElFTkSuQmCC");
	-repeat center;
	-webkit-background-size:cover; -moz-background-size:cover; -o-background-size:cover; background-size:cover;
}

.button_gfx{
	stroke-width:2;
	stroke: #ffffff;
	stroke-opacity:0.4;
	fill-opacity:0.2;
	fill:black;
}

.button_gfx_icon{
	stroke-width:3;
	stroke: #909090;
	stroke-opacity:0.7;
	fill:none;
}
